{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}


<div class="container">        
           
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Prize</th>
                <th>Quantity</th>
                <th>Product Image</th>
 
              </tr>
            </thead>
            <tbody>
                
                {% for object in product_list %}
            <tr>
                   <td>{{ object.name }}</td>
                   <td>{{ object.prize }}</td>
                   <td>{{object.quantity }}</td>
                   <td>{{ object.product_image}}</td>
                 
                   <td> {% if object.product_img  %}
                   <a href="{% url 'product:product-detail' object.id %}">
                   <img src="{{ object.product_img.url }}" width="400" height="200">
                   </a>
                   {% endif %}</td>   
                  
  
                  </tr>
                {%endfor%}
            </tbody>
          </table>
        </div>

{% endblock %}
