{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

            <h2>Product List</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Prize</th>
               
              </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                  <tr>
                   <td> {% if object.product_img  %}
                   <a href="{% url 'product:product-detail' object.id %}">
                   <img src="{{ object.product_img.url }}" width="400" height="200">
                   </a>
                   {% endif %}</td>

                   <td>{{ object.name }}</td>
                   <td>{{ object.quantity }}</td>
                   <td> {{ object.prize }}</td>
                   <td><a href="{% url 'product:product-update' object.id %}">Update</a>/<a href="{% url 'product:product-delete' object.id %}">Delete</a></td> 
                   
                  </tr>
                {% endfor %}
            </tbody>
          </table>



{% endblock %}