{% load static %} 
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="/"><span>Farm</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>


        <nav class="nav-menu d-none d-lg-block">
          <ul>
            
            <li><a href="#">Dashboard</a></li>
            
            <li class="drop-down"><a href="#">Product</a>
              <ul>
                <li><a href="/add/product/">Add Product</a></li>
                <li><a href="/product/list/">Product List</a></li>
                
              </ul>
            </li>
            <li class="drop-down"><a href="#">Bill</a>
              <ul>
                <li><a href="/create_bill/">Create Bill</a></li>
                <li><a href="#">Bill List</a></li>
              </ul>
            </li>
            <li class="drop-down"><a href="">Setting</a>
              <ul>
                <li><a href="/login/">Logout</a></li>
                
              </ul>
            </li>
          </ul>

        </nav><!-- .nav-menu -->
      


      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->